<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <link href="{{bootstrap_css}}" rel="stylesheet">
  <link href="{{css}}" rel="stylesheet">

  <script src="{{jquery_js}}"></script>
  <script src="{{bootstrap_js}}"></script>
  <script src="{{raphael_js}}"></script>
  <script src="{{morris_js}}"></script>
  <script src="{{statistics_js}}"></script>
</head>

<body>

<div class="container">

  {% include '_nav.html' %}

  <h3 class="text-center">ESTATÍSTICAS DA VOTAÇÃO</h3>

  <div class="row center-block">
    <div class="col-xs-12">
      <h4 class="text-center">Votos totais até o momento</h4>
    </div>
  </div> <!-- row -->

  <div class="row center-block">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <table class="table">
        <tr><th>id</th><th>Participantes</th><th>Votos</th></tr>
        <tr id=c1><td class="cid"></td><td class="name"></td><td class="votes"></td></tr>
        <tr id=c2><td class="cid"></td><td class="name"></td><td class="votes"></td></tr>
        <tr class="info"><td colspan="2"><b>Votos totais:</b></td><td class="total"><b></b></td></tr>
      </table>
    </div>
    <div class="col-xs-4"></div>
  </div> <!-- row -->

  <div class="row center-block">
    <div class="col-xs-12">
      <h4 class="text-center">Votos por Hora</h4>
    </div>
  </div> <!-- row -->


  <div class="row center-block">
    <div class="col-xs-12">
      <div id="line-chart"> </div>
    </div>
  </div> <!-- row -->

</div> <!-- container -->

</body>

</html>
