<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <link href="{{bootstrap_css}}" rel="stylesheet">
  <link href="{{css}}" rel="stylesheet">

  <script src="{{jquery_js}}"></script>
  <script src="{{bootstrap_js}}"></script>
  <script src="{{wall_js}}"></script>
  <script src="{{recaptcha_js}}"></script>
</head>


<body>

<div class="container">

  {% include '_nav.html' %}

  <h3 class="text-center">QUEM DEVE SER <b>ELIMINADO</b>?</h3>

  <div class="row center-block">

    <div class="col-xs-3"></div> <!-- col 1 -->

    <div id="c1" class="col-xs-3 candidate">
      <a href="#" class="thumbnail unselected">
        <img>
        <h5 class="text-center"></h5>
      </a>
   </div>

    <div id="c2" class="col-xs-3 candidate">
      <a href="#" class="thumbnail unselected">
        <img>
        <h5 class="text-center"></h5>
      </a>
    </div>

    <div class="col-xs-3"></div>
  </div> <!-- row -->

  <!-- Button trigger modal -->
  <button id="voteButton" type="button" class="btn btn-primary btn-sm center-block" data-target="#myModal">Envie seu voto agora</button>

</div> <!-- container -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Você é um Rodô?</h4>
      </div>

      <div class="modal-body">
        <div class="g-recaptcha" data-sitekey="6LcWjAYTAAAAABVr00Rc1lIVfz29zxjqCaGsh-US" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>

<!-- alertModal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="alertModalLabel">BBB - Paredão</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-success hidden" dst="result.html" role="alert"><h5 class="text-center">Seu voto foi computado com sucesso<h5></div>
        <div class="alert alert-danger hidden" dst="wall.html" role="alert"><h5 class="text-center">Selecione um candidato para eliminar<h5></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>

<!-- waitVoteModal -->
<div class="modal fade" id="waitVoteModal" tabindex="-1" role="dialog" aria-labelledby="waitVoteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="waitVoteModalLabel">BBB - Votando...</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-warning" role="alert"><h5 class="text-center">Aguarde enquanto computamos o seu voto...<h5></div>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>


</body>

</html>
